<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="kzu" value="https://pkg.kzu.app/index.json" />
    <add key="local" value="../../bin/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="kzu">
      <package pattern="SmallSharp" />
    </packageSource>
    <packageSource key="local">
      <package pattern="SmallSharp" />
    </packageSource>
  </packageSourceMapping>
</configuration>
